
/* Password eye icon start */

.toggle11 {
  background: none;
  border: none;
  /* color: #337ab7; */
  font-weight: 600;
  position: absolute;
  right: 1em;
  top: 1.8em;
  z-index: 9;
  font-size: 20px;
}
.toggle12 {
  background: none;
  border: none;
  font-weight: 600;
  position: absolute;
  right: 1.3em;
  top: .2em;
  z-index: 9;
  font-size: 20px;
}
.passwordgroup{
  position: relative;
}

/* Password eye icon end */

.fullscreen{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.fullscreen main{
  flex-grow: 1;
}

 .fullscreen2{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}
.fullscreen2 main{
  flex-grow: 1;
}

@media all and (max-width: 767px) and (orientation: portrait) {

}
@media all and (max-width: 767px) {

}

@media all and (min-width: 768px) and (max-width: 991px) {

}

@media all and (min-width: 992px) and (max-width: 1280px) and (orientation: portrait) {

}
@media all and (min-width: 992px) and (max-width: 1280px) and (orientation: landscape) {

}
@media all and (min-width: 1281px) and (max-width: 1600px) and (orientation: landscape) {

}



/* .registerbg{
  background: black;
  min-height: 110vh;
  height: auto;
  color: white;
}
.boxmaindiv {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.box {
  max-width: 500px;
  min-width: 350px;
  height: auto;
  background: rgba(250, 244, 244, 0.25);
  backdrop-filter: blur(5px);
  border: 2px solid rgba(165, 163, 163, 0.18);
  border-radius: 15px;
  z-index: 1;
  position: relative;
}

.circle {
  position: absolute;
  width: 15vw;
  height: 15vw;
  max-width: 200px;
  max-height: 200px;
  border-radius: 50%;
  background: linear-gradient(to right, #0382d7, #68cffb);
  z-index: 0;
}

.circle:nth-child(2) {
  background: linear-gradient(to right, rgb(236, 89, 131), #fb734a);
}
.text-danger{
  color:rgb(255, 9, 9)
}
.circle:nth-child(1) {
  top: 88%;
  left: 33%;
  transform: translate(-50%, -50%);
}

.circle:nth-child(2) {
  top: 8%;
  right: 33%;
  transform: translate(50%, -50%);
}
.control-label{
  font-size: 15px;
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .circle {
    width: 40vw;
    height: 40vw;
  }
  .box {
    max-width: 350px;
    min-width: 300px;
  }
  .circle:nth-child(1) {
    top: 80%;
    left: 12%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(2) {
    top: 15%;
    right: 12%;
    transform: translate(50%, -50%);
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .circle {
    width: 35vw;
    height: 35vw;
  }
  .box {
    max-width: 500px;
    min-width: 400px;
  }
  .circle:nth-child(1) {
    top: 80%;
    left: 10%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(2) {
    top: 10%;
    right: 10%;
    transform: translate(50%, -50%);
  }
}

@media (min-width: 768px) and (max-width: 991.98px) {
  .circle {
    width: 30vw;
    height: 30vw;
  }
  .box {
    max-width: 500px;
    min-width: 430px;
  }
  .circle:nth-child(1) {
    top: 78%;
    left: 25%;
    transform: translate(-50%, -50%);
  }
  
  .circle:nth-child(2) {
    top: 25%;
    right: 25%;
    transform: translate(50%, -50%);
  }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
  .circle {
    width: 25vw;
    height: 25vw;
  }
  .box {
    max-width: 500px;
    min-width: 420px;
  }
}

@media (min-width: 1200px) {
  .circle {
    width: 20vw;
    height: 20vw;
  }
  .box {
    max-width: 500px;
    min-width: 430px;
  }
}
 */

 /* infoscan features css */

 .container {
  max-width: 1320px;
}

.features {
  padding: 60px 0;
}

.section-header {
  font-size: 36px;
  color: #413e66;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

.section-description {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}
.features-box {
  padding: 20px;
  border-radius: 10px;
  margin: 10px 0;
  background: #fff;
  box-shadow: 10px 10px 10px rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  text-align: center;
  min-height: 160px;
  height: auto;
}

.features-box:hover {
  transform: scale(1.1);
}

.features-title a {
  color: #111;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
  display: block;
}

.features-box:hover .features-title a {
  color: #c59c35;
}

.features-title a:hover {
  text-decoration: none;
}

.features-description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

@media (max-width: 767px) {
  .section-description {
    width: 100%;
  }
}



/* infoscan services */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  width: 330px;
  text-align: center;
}

@media all and (max-width: 767px) and (orientation: portrait) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
}
@media all and (max-width: 767px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto;
    padding: 10px;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
}

@media all and (min-width: 992px) and (max-width: 1280px) and (orientation: portrait) {

}
@media all and (min-width: 992px) and (max-width: 1280px) and (orientation: landscape) {

}
@media all and (min-width: 1281px) and (max-width: 1600px) and (orientation: landscape) {

}